@media (max-width: 1000px) {
    body {
        background-color: #e8c5b3;
        font-size: small;
    }


}

header {
    background-color: rgb(189, 210, 157);
    height: 300px;
    /* column-count: 2;
    column-gap: 0px;*/
}


.img {
    background-image: url('./imgcut.png');
    background-color: yellow;
    background-size: cover;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin: 50px;
    display: inline-block;
    position: relative;
    left: 80px;


}

.text {
    /* font-size: 20px; */
    display: inline-block;
    color: red;
    position: absolute;
    top: 80px;
    left: 500px;

}

body {
    /* resize: vertical; */
    width: 1000px;


}



.sect {
    column-count: 2;
    column-gap: 0px;
    column-rule: 50px;
    height: 1000px;
    width: 1000px;
    margin-left: 40px;
}



p {
    display: inline-block;
}

.contac {
    text-shadow: 4px 4px 3px greenyellow;
    font-size: 30px;
    font-weight: bolder;
    /* background-color: rgb(191, 228, 180); */
    color: rgb(221, 123, 106);
}

.info {
    height: 300px;
}

i {
    width: 90px;
    height: 30px;
    font-size: 60px;
}

.l1 {
    background-color: greenyellow;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.l2 {
    background-color: greenyellow;
    width: 20px;
    height: 20px;
    display: inline-block;

}

.l3 {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: greenyellow;
}

.l4 {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: greenyellow;
}

.en {
    background-image: linear-gradient(to right, orange 60%, rgb(230, 221, 221) 60%, rgb(230, 221, 221) 100%);
    width: 200px;
    height: 20px;
    border-radius: 5%;
    margin: 30px, 20px;
}

.Gr {
    background-image: linear-gradient(to right, rgb(76, 192, 234) 30%, rgb(230, 221, 221) 30%, rgb(230, 221, 221) 100%);
    width: 200px;
    height: 20px;
    border-radius: 5%;

}

.Sp {
    background-image: linear-gradient(to right, red 80%, rgb(230, 221, 221) 80%, rgb(230, 221, 221) 100%);
    width: 200px;
    height: 20px;
    border-radius: 5%;

}

.s1 {
    display: inline-block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-image:
        radial-gradient(rgb(230, 221, 221) 40%, orange 40%, orange 100%)
        /* linear-gradien t(orange 90%, rgb(230, 221, 221) 90%, rgb(230, 221, 221) 100%); */
}

.s2 {
    display: inline-block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-image:
        radial-gradient(rgb(230, 221, 221) 40%, rgb(98, 198, 241) 40%, rgb(98, 198, 241) 100%)
        /* linear-gradien t(orange 90%, rgb(230, 221, 221) 90%, rgb(230, 221, 221) 100%); */

}

.s3 {
    display: inline-block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-image:
        radial-gradient(rgb(230, 221, 221) 40%, red 40%, red 100%)
        /* linear-gradien t(orange 90%, rgb(230, 221, 221) 90%, rgb(230, 221, 221) 100%); */

}

.s4 {
    display: inline-block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-image:
        radial-gradient(rgb(230, 221, 221) 40%, orange 40%, orange 100%)
        /* linear-gradien t(orange 90%, rgb(230, 221, 221) 90%, rgb(230, 221, 221) 100%); */

}

#i {
    font-size: 20px;
}

/* .A {
    background-color: rgb(189, 210, 157);
    width: 200px;
    height: 40px;
} */

/* .E {
    /* position: absolute; */
/* left: 800px;
bottom: 300px; */
/* } */


/* .W {
    /* position: absolute; */
/* left: 800px;
    bottom: 100px; */
/* } */
/*  */
.gred {
    margin: 30px;
    width: 1780px;
    height: 30px;
    background-image: linear-gradient(to right, red 30%, orange 40%, orange 60%, rgb(132, 206, 231) 70%, rgb(132, 206, 231) 90%);
}